@charset "UTF-8";

/* ベースのスタイル
---------------------------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  line-height: 1.2;
  color: #333;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  /* 画面幅を変更した際に画像が伸縮する設定 */

  /* 画像の原寸サイズ以上の大きさにはならない */

  /* 原寸サイズ以上で表示したい場合は、width: 100%;にする。画像がぼやけるので注意 */
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;

  /* リスト先頭の記号を表示しないときに指定します */
}

/* 部品
------------------------------------- */


.contents-width {
  height: 100%;
}

@media (min-width: 768px) {
  .contents-width {
    width: 100%;
    max-width: 1062px;
    margin: 0 auto;
  }
}

.noto-sans-jp-regular {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
}

.noto-sans-jp-semi-bold {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-optical-sizing: auto;
}

.noto-sans-jp-bold {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-optical-sizing: auto;
}

.outfit-regular {
  font-family: Outfit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
}

/* セクションタイトル */
.section-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: min(calc(32/390*100vw), 32px);
  color: #fa7da3;
  text-align: center;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 42px;
  }
}

.section-title::before,
.section-title::after {
  display: inline-block;
  width: 37.31px;
  height: 46px;
  content: "";
  background-image: url("/assets/image/shape_2918.png");
  background-position: center;
  background-size: contain;
}

@media (min-width: 768px) {
  .section-title::before,
  .section-title::after {
    width: 49.59px;
    height: 61.09px;
  }

  .section-title::before {
    margin-right: 7px;
  }

  .section-title::after {
    margin-left: 7px;
  }

}

.section-title::before {
  transform: scale(-1, 1);
}

/* ボタン */
.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  height: 80.06px;
  margin: 0 auto;
  font-size: min(calc(21/390*100vw), 21px);
  line-height: calc(28.02/21.02);
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  background-color: #49c43d;
  border-radius: 40px;
}

@media (min-width: 768px) {
  .button {
    max-width: 571.02px;
    height: 130.07px;
    font-size: 2.125rem;
    line-height: calc(45.52/34);
    border-radius: 65.04px;
  }
}

.button::after {
  position: absolute;
  top: 50%;
  right: 32px;
  width: 13px;
  height: 20px;
  content: '';
  background-image: url("/assets/image/button_arrow.png");
  background-position: center;
  background-size: contain;
  transform: translate(0, -50%);

}

@media (min-width: 768px) {
  .button::after {
    right: 52px;
    width: 20px;
    height: 32px;
  }
}

.button-reservation {
  background-color: #49c43d;
}

.button-reservation:hover {
  background-color: #40e02f;
}


@media (max-width:767px) {
  .no-sp {
    display: none;
  }
}

@media (min-width:768px) {
  .no-pc {
    display: none;
  }
}

/* ピンクの枠線の角丸アイテムの共通部分 */
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-color: #fa7da3;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.item__title {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  text-align: center;
  background-color: #fa7da3;
  border-color: #fa7da3;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px 10px 0 0;
}

/* ヘッダー
------------------------------------------ */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin-right: 10px;
  margin-left: 12px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .header {
    height: 91px;
  }
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 390px;
}

@media (min-width: 768px) {
  .header-container {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 16px;
  }
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.header__logo-image {
  width: 72px;
  height: auto;
  object-fit: contain;
}

@media (min-width: 768px) {
  .header__logo-image {
    width: 97px;
  }
}

.header__button-group {
  display: flex;
  flex-direction: row;
  column-gap: min(calc(10/390*100vw), 10px);
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .header__button-group {
    column-gap: 21px;
  }
}

/* ボタン */
.header__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 31px;
  padding-right: 8px;
  margin: 0 auto;
  font-size: clamp(9px, calc(12 / 390 * 100vw), 12px);
  line-height: calc(40/12);
  color: #fff;
  text-align: center;
  letter-spacing: 0.4px;
  border-radius: 15.5px;
}

@media (min-width: 768px) {
  .header__button {
    height: 50.36px;
    padding-right: 14px;
    font-size: 21.12px;
    letter-spacing: 0;
    border-radius: 25.18px;
  }
}

.header__button::after {
  position: absolute;
  top: 50%;
  right: 8px;
  width: 6px;
  height: 10px;
  content: '';
  background-image: url("/assets/image/button_arrow.png");
  background-position: center;
  background-size: contain;
  transform: translate(0, -50%);

}

@media (min-width: 768px) {
  .header__button::after {
    right: 17px;
    width: 11px;
    height: 18px;
  }
}

.header__contact-button {
  width: min(calc(107/390*100vw), 107px);
  background-color: #fa7da3;
}

@media (min-width: 768px) {
  .header__contact-button {
    width: 189.1px;
  }
}

.header__reservation-button {
  width: min(calc(173.77/390*100vw), 173.77px);
  background-color: #49c43d;
}

@media (min-width: 768px) {
  .header__reservation-button {
    width: 295.49px;
  }
}

.header__button--smalltext {
  font-size: 10px;
}

@media (min-width: 768px) {
  .header__button--smalltext {
    font-size: 17.87px;
  }
}

/* メインビジュアル
------------------------------------------ */

.main-visual {
  position: relative;
  z-index: -1;
  height: 315px;
  overflow: hidden;
  color: #fff;
  background-color: #fa7da3;
}

@media (min-width: 768px) {
  .main-visual {
    height: 612px;
  }
}

.main-visual-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 390px;
  height: 100%;
  margin: 0 auto;
}

.main-visual-container::after {
  position: absolute;
  top: 97px;
  left: 4px;
  z-index: -1;
  width: 209px;
  height: 83%;
  content: '';
  background-image: url("/assets/image/woman.png");
  background-position: center;
  background-size: contain;
}

@media (min-width: 768px) {
  .main-visual-container {
    column-gap: 8px;
    max-width: 100%;
    padding-right: 46px;
    padding-left: 16px;
  }

  .main-visual-container::after {
    top: 105px;
    left: 15px;
    width: 486px;
    height: 100%;
  }
}

.main-visual__title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 202px;
  padding-top: 16px;
}

@media (min-width: 768px) {
  .main-visual__title-block {
    align-items: flex-end;
    width: 577px;
    padding-top: 10px;
  }
}

.main-visual__title-main {
  font-size: min(calc(42 / 390 * 100vw), 42px);
  font-weight: 400;
}

@media (min-width: 768px) {
  .main-visual__title-main {
    padding-right: 33px;
    font-size: 122.15px;
  }
}


.main-visual__title-sub {
  margin-top: 3px;
  margin-left: 4px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 768px) {
  .main-visual__title-sub {
    font-size: 36px;
    text-align: left;
  }
}

.main-visual__campaign-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 284px;
}

@media (min-width: 768px) {
  .main-visual__campaign-block {
    height: 558px;
  }
}

.main-visual__campaign {
  display: flex;
  column-gap: 9px;
  align-items: center;
  justify-content: center;
  width: min(calc(188 / 390 * 100vw), 188px);
  height: 107px;
  background: rgb(255 255 255 / 30%);
  box-shadow: 3.536px 3.536px 0 0 rgb(0 0 0 / 25%);
}

@media (min-width: 768px) {
  .main-visual__campaign {
    column-gap: 21px;
    width: 423.02px;
    height: 222px;
    box-shadow: 3.536px 3.536px 0 0 rgb(0 0 0 / 25%);
  }
}

.main-visual__campaign-term {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  margin-left: 8px;
}

@media (min-width: 768px) {
  .main-visual__campaign-term {
    row-gap: 14px;
    margin-left: 11px;
  }
}

.main-visual__campaign-term--1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 23px;
  font-size: 13px;
  font-weight: 700;
  color: #fa7da3;
  background-color: #fff;
}

.main-visual__campaign-term--2 {
  font-size: 24px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .main-visual__campaign-term--1 {
    width: 105.76px;
    height: 51.65px;
    font-size: 29.25px;

  }

  .main-visual__campaign-term--2 {
    font-size: 54px;

  }
}

.main-visual__campaign-price {
  padding-right: 3px;
  margin-bottom: 13px;
  font-size: 76px;
  font-weight: 700;
  color: #fffd7a;
}

.main-visual__campaign-price--small {
  font-size: 36px;
}

@media (min-width: 768px) {
  .main-visual__campaign-price {
    padding-right: 3px;
    margin-bottom: 30px;
    font-size: 171px;
  }

  .main-visual__campaign-price--small {
    font-size: 81px;
  }
}

.main-visual__monthly-fee {
  padding-bottom: 17px;
  padding-left: 74px;
  font-size: 14px;
  text-align: right;
}

.main-visual__monthly-fee--small {
  font-size: 9px;
}


@media (min-width: 768px) {
  .main-visual__monthly-fee {
    padding-bottom: 43px;
    padding-left: 180px;
    font-size: 26.48px;
    text-align: right;
  }

  .main-visual__monthly-fee--small {
    font-size: 17.02px;
  }
}

.main-visual__benefit {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
  justify-content: center;
}

.main-visual__benefit-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 133px;
  height: 35px;
  padding-bottom: 2px;
  padding-left: 4px;
  margin-left: 2px;
  letter-spacing: 2px;
  background-color: rgb(102 102 102 / 0%);
  border-color: rgb(255 255 255);
  border-style: solid;
  border-width: 1px;
}

@media (min-width: 768px) {
  .main-visual__benefit {
    row-gap: 20px;
  }

  .main-visual__benefit-item {
    width: 425px;
    height: 69px;
    padding-bottom: 2px;
    padding-left: 4px;
    margin-left: 2px;
    font-size: 28px;
    letter-spacing: 0;
  }
}

/* プレゼント(gift)キャンペーン
------------------------------------------ */

.gift {
  padding-top: 21px;
  padding-bottom: 16px;
  margin-bottom: 17px;
  background-color: #fffedd;
}

@media (min-width: 768px) {
  .gift {
    padding-top: 46px;
    padding-bottom: 26px;
    margin-bottom: 58px;
  }
}

.gift-container {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  align-items: center;
  justify-content: center;
  margin: 0 18px;
}

@media (min-width: 768px) {
  .gift-container {
    row-gap: 17px;
    margin: 0 auto;
  }
}

.gift__popup {
  position: relative;
  padding: 0 1rem;
  font-size: 21px;
  color: #fa7da3;
}

.gift__popup::before,
.gift__popup::after {
  position: absolute;
  width: 2px;
  height: 27px;
  content: '';
  background-color: #fa7da3;
}

.gift__popup::before {
  left: 0;
  transform: rotate(-30deg);
}

.gift__popup::after {
  right: 0;
  transform: rotate(30deg);
}

@media (min-width: 768px) {
  .gift__popup {
    padding: 0 9px 0 24px;
    font-size: 34px;
  }

  .gift__popup::before,
  .gift__popup::after {
    width: 4px;
    height: 43px;
  }
}

.gift__item {
  width: 100%;
  max-width: 350px;
  height: 93px;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .gift__item {
    max-width: 550px;
    height: 148px;
    margin-top: 3px;
  }
}

.gift__course-name {
  height: 29px;
  font-size: 21px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .gift__course-name {
    height: 45px;
    font-size: 32px;
  }
}

.gift__contents {
  padding-top: 2px;
  padding-left: 13px;
  font-size: 27px;
  font-weight: 400;
  text-align: center;
}

.gift__contents--amount {
  font-size: 42px;
  font-weight: 600;
}


@media (min-width: 768px) {
  .gift__contents {
    padding-top: 3px;
    padding-left: 19px;
    font-size: 43.67px;
  }

  .gift__contents--amount {
    font-size: 67.93px;
  }

}

.gift__detail {
  font-size: 10px;
}

@media (min-width: 768px) {
  .gift__detail {
    font-size: 14px;
  }
}

/* 無料トライアル
------------------------------------------ */
.trial__container {
  margin: 0 18px;
}

.trial__title {
  padding-bottom: 11px;
  padding-left: 8px;
  font-size: 21px;
  font-weight: 600;
  color: #fa7da3;
  text-align: center;
  letter-spacing: 2.1px;
}


@media (min-width: 768px) {
  .trial__title {
    padding-bottom: 18px;
    padding-left: 8px;
    font-size: 34px;
    letter-spacing: 3px;
  }
}

.trial__contents-title {
  max-width: 350px;
  padding: 11px 0;
  margin: 30px auto 0;
  font-size: 17px;
  font-weight: 600;
  line-height: 1;
  color: #50bfff;
  text-align: center;
  letter-spacing: 2px;
  border-color: #50bfff;
  border-style: solid;
  border-width: 1px 0;
}


@media (min-width: 768px) {
  .trial__contents-title {
    max-width: 571px;
    padding: 17px 0;
    margin: 48px auto 0;
    font-size: 28px;
    border-width: 2px 0;
  }
}


.trial__contents-list {
  max-width: 350px;
  padding-top: 8px;
  padding-left: 2px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24/14);
}

.trial__contents-item--small {
  font-size: 11px;
}

@media (min-width: 768px) {
  .trial__contents-list {
    max-width: 571px;
    padding-top: 15px;
    padding-left: 0;
    font-size: 22.86px;
    line-height: calc(39.19/22.86);
    letter-spacing: -.3px;
  }

  .trial__contents-item--small {
    font-size: 17.96px;
  }
}

/* 選ばれる３つのポイント
------------------------------------------ */
.point {
  padding-top: 35px;
  padding-bottom: 29px;
  margin-top: 37px;
  margin-bottom: 28px;
  background-color: #fdf0f5
}

@media (min-width: 768px) {
  .point {
    padding-top: 53px;
    padding-bottom: 61px;
    margin-top: 53px;
    margin-bottom: 56px;
  }
}

.point__container {
  margin: 0 16px;
}

.point__pre-title {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 500;
  color: #4d2b1b;
  text-align: center;
}

.point__kbl-logo-image {
  width: 197px;
  height: auto;
}

@media (max-width: 767px) {
  .point__pre-title {
    margin-bottom: 10px;
  }

  .point__kbl-logo-image {
    margin-top: 4px;
  }
}

@media (min-width: 768px) {
  .point__pre-title {
    column-gap: 6px;
    margin-bottom: 13px;
    font-size: 18.07px;
  }

  .point__kbl-logo-image {
    width: 263px;
  }
}


.item__contents {
  width: 100%;
  color: #fa7da3;
}

.point__list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: center;
  justify-content: center;
  margin-top: 23px;
}

@media (min-width: 768px) {
  .point__list {
    row-gap: 50px;
    margin-top: 48px;
  }
}

.point__item {
  width: 100%;
  max-width: 350px;
}

@media (min-width: 768px) {
  .point__item {
    max-width: 780.02px;
  }
}


.point__title {
  height: 41.96px;
  font-size: 18.02px;
  font-weight: 400;
}


@media (min-width: 768px) {
  .point__title {
    height: 72px;
    font-size: 28px;
  }
}


.point__contents {
  padding: 15px 10px 18px;
  font-size: 27px;
  font-weight: 400;
  text-align: center;
}


@media (min-width: 768px) {
  .point__contents {
    padding: 21px 40px;
    font-size: 43.67px;
  }

  .point__item:last-of-type .point__contents {
    padding-bottom: 30px;
  }
}

.point__description {
  margin-right: 8px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(21/14);
  color: #333;
  text-align: left;
}

@media (max-width: 767px) {
  .point__item:first-of-type .point__contents .point__description {
    letter-spacing: -0.6px;
  }
}


@media (min-width: 768px) {
  .point__description {
    margin: 0;
    font-size: 21px;
    line-height: calc(33.87/21);
    letter-spacing: 0;
  }
}

.point__salon-compare {
  display: flex;
  flex-direction: row;
  column-gap: 21px;
  justify-content: center;
  margin-top: 12px;
}

@media (min-width: 768px) {
  .point__salon-compare {
    column-gap: 41px;
    margin-top: 24px;
    margin-bottom: 19px;
  }
}

.point__salon--kbl,
.point__salon--a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(calc(143/390*100vw), 143px);
  height: min(calc(85/390*100vw), 85px);
  font-size: 18px;
  color: #433e3f;
  border-style: solid;
  border-width: 1px;
}

@media (min-width: 768px) {
  .point__salon--kbl,
  .point__salon--a {
    width: 232px;
    height: 137px;
    font-size: 29.03px;
  }
}

.point__salon--kbl {
  border-color: #fa7da3;
}

.point__salon--kbl-logo {
  width: 71px;
}

@media (min-width: 768px) {
  .point__salon--kbl-logo {
    width: 115px;
    height: auto;
  }
}

.point__salon--a {
  background-color: #fdf0f5;
  border-color: #666;
}

.point__salon-description {
  margin-top: 7px;
  font-size: 14px;
  color: #333;
}

@media (min-width: 768px) {
  .point__salon-description {
    margin-top: 12px;
    font-size: 21px;
  }
}

.point__plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 17px;
}

@media (min-width: 768px) {
  .point__plan {
    padding-bottom: 35px;
  }
}

.point__plan-title {
  margin-top: 6px;
  margin-bottom: 27px;
  font-size: 23px;
  color: #4d2c1c;
}

@media (min-width: 768px) {
  .point__plan-title {
    margin-top: 5px;
    margin-bottom: 22px;
    font-size: 24px;
  }
}

.point__body-plan-image {
  width: min(calc(311/390*100vw), 311px);
  height: auto;
  margin-left: 3px;
}

@media (min-width: 768px) {
  .point__body-plan-image {
    width: 533px;
    margin-left: 0;
  }
}

.point__body-plan {
  position: relative;
  margin-bottom: 38px;
}

@media (min-width: 768px) {
  .point__body-plan {
    margin-bottom: 50px;
  }
}

.point__body-plan-text {
  position: absolute;
  font-size: min(calc(12/390*100vw), 12px);
  font-weight: 400;
  line-height: calc(18/12);
  color: #333;
  text-align: center;
}

.point__body-plan-text1 {
  top: -1.2%;
  left: 36.6%;
}

.point__body-plan-text2 {
  top: 29.3%;
  left: 42.3%;
}

.point__body-plan-text3 {
  top: 39.6%;
  left: 44%;
}

.point__body-plan-text4 {
  top: 60%;
  left: 43%;
}

.point__body-plan-text5 {
  top: 80.2%;
  left: 44%;
}

.point__body-plan-text6 {
    top: 11%;
    right: 2.5%;
}

.point__body-plan-text7 {
top: 24.2%;
    right: 1.5%;
}

.point__body-plan-text8 {
    top: 58.5%;
    right: -0.3%;
}

@media (min-width: 768px) {
  .point__body-plan-text {
    font-size: 16px;
    line-height: calc(24/16);
  }

  .point__body-plan-text1 {
    top: 17px;
    left: 179px;
  }

  .point__body-plan-text2 {
    top: 156px;
    left: 205px;
  }

  .point__body-plan-text3 {
    top: 270px;
    left: 231px;
  }

  .point__body-plan-text4 {
    top: 352px;
    left: 194px;
  }

  .point__body-plan-text5 {
    top: 560px;
    left: 177px;
  }

  .point__body-plan-text6 {
    top: 73px;
    right: 47px;
  }

  .point__body-plan-text7 {
    top: 149px;
    right: 16px;
  }

  .point__body-plan-text8 {
    top: 238px;
    right: -26px;
  }
}

.point__parts-plan {
  display: flex;
  flex-flow: row wrap;
  gap: 18px 12px;
  justify-content: center;
  margin-top: 2px;
}

@media (min-width: 768px) {
  .point__parts-plan {
    margin-top: 5px;
  }
}

.point__parts-plan-group {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 12px;
}

.point__parts-plan-image {
  width: 100px;
  height: auto;
}

.point_parts-name {
  margin-top: 3px;
  font-size: 14px;
  font-weight: 600;
  line-height: calc(18/14);
  color: #fa7da3;
  text-align: center;
}


/* 選べる２つのコース
------------------------------------------ */
.course {
  padding-top: 9px;
  padding-bottom: 20px;
  margin-top: 37px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .course {
    padding-top: 3px;
    padding-bottom: 61px;
    margin-top: 53px;
  }
}

.course__container {
  margin-right: 19px;
  margin-left: 21px;
}

@media (min-width: 768px) {
  .course__container {
    max-width: 762px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

.course__pre-title {
  display: flex;
  column-gap: 6px;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
  margin: 0 auto 9px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.course .section-title::before {
  margin-right: 5px;
}

.course .section-title::after {
  margin-left: 6px;
}

@media (min-width: 768px) {
  .course__pre-title {
    margin-bottom: 12px;
    font-size: 24px;
  }

  .course .section-title::before {
    margin-right: 8px;
  }

  .course .section-title::after {
    margin-left: 11px;
  }
}


.course__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 23px;
}

@media (min-width: 768px) {
  .course__list {
    flex-direction: row;
    column-gap: 31px;
    margin-top: 39px;
  }

}

.course__title {
  height: 45.91px;
  font-size: 18px;
  font-weight: 400;
  color: #fa7da3;
  background-color: #fdf0f5;
  border: none;
}

@media (min-width: 768px) {
  .course__title {
    height: 60px;
    font-size: 28px;
  }
}

.course__contents {
  padding: 0 20px 20px;
}

.course__description {
  margin: 13px 0;
  font-size: 14px;
  line-height: calc(21/14);
  color: #333;
}

@media (min-width: 768px) {
  .course__description {
    margin: 8px 0 14px;
    font-size: 18px;
    line-height: calc(28/18);
    color: #333;
    line-break: anywhere;
  }
}

.course__image {
  width: 100%;

  /* トリミング枠の幅 */
  aspect-ratio: 310 / 206.99;

  /* トリミング枠の縦横比 */
  overflow: hidden;
}

@media(min-width: 768px) {
  .course__image {
    aspect-ratio: 310.17 / 206.95;
  }

}

.course__image img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: left top;
}

.course__list-item:nth-of-type(1) img {
  height: 273%;
  object-position: -6px -216px;
}

.course__list-item:nth-of-type(2) img {
  height: 104%;
  object-position: -4px -3px;
}

/* お客様の声
------------------------------------------ */
.voice {
  padding-top: 27px;
  padding-bottom: 56px;
  margin-bottom: 28px;
  background-color: #fdf0f5;
}

@media(min-width: 768px) {
  .voice {
    padding-top: 38px;
    padding-bottom: 83px;
    margin-bottom: 57px;
  }
}

.voice .section-title::before {
  margin-right: 16px;
}

.voice .section-title::after {
  margin-left: 16px;
}

@media (min-width: 768px) {
  .voice .section-title::before {
    margin-right: 21px;
  }

  .voice .section-title::after {
    margin-left: 21px;
  }
}


@media (min-width: 768px) {
  .voice__container {
    max-width: 991px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

.swiper-container {
  position: relative;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .swiper-container {
    margin-top: 36px;
  }
}

.voice__item {
  width: min(calc(308 / 390 * 100vw), 308px);
  margin: 0 auto;
}

.voice__title {
  height: 42.95px;
  font-size: 18.01px;
  font-weight: 400;
}

.voice__contents {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
}

.voice__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(calc(86/390*100vw),86px);
  overflow: hidden;
}

.voice__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: left top;
}

.voice__image--nt {
  width: min(calc(86/390*100vw),86px);
}

.voice__image--yk {
  width: min(calc(67/390*100vw),67px);
}

.voice__image--rb {
  width: min(calc(78/390*100vw),78px);
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -38px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7.5px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #fa7da3;
}

.voice__text {
  width: min(calc(170 / 390 * 100vw), 170px);
  padding-top: 14px;
  padding-bottom: 12px;
}

.voice__name {
  margin-top: 4px;
  margin-bottom: 7px;
  font-size: 16px;
}

.voice__comment {
  font-size: 14.01px;
  line-height: calc(21.01/14.01);
  color: #333;
}

/* フッター
------------------------------------------ */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  margin-top: 42px;
  background-color: #fa7da3;
}

@media (min-width: 768px) {
  .footer {
    height: 128px;
    margin-top: 67px;
  }
}

.footer__logo-image {
  width: 73px;
  height: auto;
}

@media (min-width: 768px) {
  .footer__logo-image {
    width: 145px;
  }
}
}