@charset "UTF-8";

/* ベースのスタイル
---------------------------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  line-height: 1.2;
  color: #333;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {}

img {
  /* 画面幅を変更した際に画像が伸縮する設定 */

  /* 画像の原寸サイズ以上の大きさにはならない */

  /* 原寸サイズ以上で表示したい場合は、width: 100%;にする。画像がぼやけるので注意 */
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;

  /* リスト先頭の記号を表示しないときに指定します */
}

/* 部品
------------------------------------- */


.contents-width {
  height: 100%;
}

@media (min-width: 768px) {
  .contents-width {
    width: 100%;
    max-width: 1062px;
    margin: 0 auto;
  }
}

.noto-sans-jp-regular {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
}

.noto-sans-jp-semi-bold {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-optical-sizing: auto;
}

.noto-sans-jp-bold {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-optical-sizing: auto;
}

.outfit-regular {
  font-family: Outfit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
}

/* セクションタイトル */
.section-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 2rem;
  color: #fa7da3;
  text-align: center;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 2.625rem;
  }
}

.section-title::before,
.section-title::after {
  display: inline-block;
  width: 37.31px;
  height: 46px;
  content: "";
  background-image: url("/assets/image/shape_2918.png");
  background-position: center;
  background-size: contain;
}

@media (min-width: 768px) {
  .section-title::before,
  .section-title::after {
    width: 49.59px;
    height: 61.09px;
  }
}

.section-title::before {
  transform: scale(-1, 1);
}

/* ボタン */
.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  height: 80.06px;
  margin: 0 auto;
  font-size: 1.3137rem;
  line-height: calc(28.02/21.02);
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  background-color: #49c43d;
  border-radius: 40px;
}

@media (min-width: 768px) {
  .button {
    max-width: 571.02px;
    height: 130.07px;
    font-size: 2.125rem;
    line-height: calc(45.52/34);
    border-radius: 65.04px;
  }
}

.button::after {
  position: absolute;
  top: 50%;
  right: 32px;
  width: 13px;
  height: 20px;
  content: '';
  background-image: url("/assets/image/button_arrow.png");
  background-position: center;
  background-size: contain;
  transform: translate(0, -50%);

}

@media (min-width: 768px) {
  .button::after {
    right: 52px;
    width: 20px;
    height: 32px;
  }
}

.button-reservation {
  background-color: #49c43d;
}

.button-reservation:hover {
  background-color: #40e02f;
}


@media (max-width:767px) {
  .no-sp {
    display: none;
  }
}

@media (min-width:768px) {
  .no-pc {
    display: none;
  }
}

/* ヘッダー
------------------------------------------ */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin-right: 10px;
  margin-left: 12px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .header {
    height: 91px;
  }
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 768px) {
  .header-container {
    padding-right: 20px;
    padding-left: 16px;
  }
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__logo-image {
  width: 72px;
  height: auto;
  object-fit: contain;
}

@media (min-width: 768px) {
  .header__logo-image {
    width: 97px;
  }
}

.header__button-group {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .header__button-group {
    column-gap: 21px;
  }
}

/* ボタン */
.header__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 31px;
  padding-right: 8px;
  margin: 0 auto;
  font-size: 12px;
  line-height: calc(40/12);
  color: #fff;
  text-align: center;
  letter-spacing: 0.4px;
  border-radius: 15.5px;
}

@media (min-width: 768px) {
  .header__button {
    height: 50.36px;
    padding-right: 14px;
    font-size: 21.12px;
    letter-spacing: 0;
    border-radius: 25.18px;
  }
}

.header__button::after {
  position: absolute;
  top: 50%;
  right: 8px;
  width: 6px;
  height: 10px;
  content: '';
  background-image: url("/assets/image/button_arrow.png");
  background-position: center;
  background-size: contain;
  transform: translate(0, -50%);

}

@media (min-width: 768px) {
  .header__button::after {
    right: 17px;
    width: 11px;
    height: 18px;
  }
}

.header__contact-button {
  width: 107px;
  background-color: #fa7da3;
}

@media (min-width: 768px) {
  .header__contact-button {
    width: 189.1px;
  }
}

.header__reservation-button {
  width: 173.77px;
  background-color: #49c43d;
}

@media (min-width: 768px) {
  .header__reservation-button {
    width: 295.49px;
  }
}

.header__button--smalltext {
  font-size: 10px;
}

@media (min-width: 768px) {
  .header__button--smalltext {
    font-size: 17.87px;
  }
}

/* メインビジュアル
------------------------------------------ */

.main-visual {
  position: relative;
  z-index: -1;
  height: 315px;
  overflow: hidden;
  color: #fff;
  background-color: #fa7da3;
}

@media (min-width: 768px) {
  .main-visual {
    height: 612px;
  }
}

.main-visual-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.main-visual-container::after {
  position: absolute;
  top: 97px;
  left: 4px;
  z-index: -1;
  width: 209px;
  height: 83%;
  content: '';
  background-image: url("/assets/image/woman.png");
  background-position: center;
  background-size: contain;
}

@media (min-width: 768px) {
  .main-visual-container {
    column-gap: 8px;
    padding-right: 46px;
    padding-left: 16px;
  }

  .main-visual-container::after {
    top: 105px;
    left: 15px;
    width: 486px;
    height: 100%;
  }
}

.main-visual__title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 202px;
  padding-top: 16px;
}

@media (min-width: 768px) {
  .main-visual__title-block {
    align-items: flex-end;
    width: 577px;
    padding-top: 10px;
  }
}

.main-visual__title-main {
  font-size: 42px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .main-visual__title-main {
    padding-right: 33px;
    font-size: 122.15px;
  }
}


.main-visual__title-sub {
  margin-top: 3px;
  margin-left: 4px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 768px) {
  .main-visual__title-sub {
    font-size: 36px;
    text-align: left;
  }
}

.main-visual__campaign-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 284px;
}

@media (min-width: 768px) {
  .main-visual__campaign-block {
    height: 558px;
  }
}

.main-visual__campaign {
  display: flex;
  column-gap: 9px;
  align-items: center;
  justify-content: center;
  width: 188px;
  height: 107px;
  background: rgb(255 255 255 / 30%);
  box-shadow: 3.536px 3.536px 0 0 rgb(0 0 0 / 25%);
}

@media (min-width: 768px) {
  .main-visual__campaign {
    column-gap: 21px;
    width: 423.02px;
    height: 222px;
    box-shadow: 3.536px 3.536px 0 0 rgb(0 0 0 / 25%);
  }
}

.main-visual__campaign-term {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  margin-left: 8px;
}

@media (min-width: 768px) {
  .main-visual__campaign-term {
    row-gap: 14px;
    margin-left: 11px;
  }
}

.main-visual__campaign-term--1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 23px;
  font-size: 13px;
  font-weight: 700;
  color: #fa7da3;
  background-color: #fff;
}

.main-visual__campaign-term--2 {
  font-size: 24px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .main-visual__campaign-term--1 {
    width: 105.76px;
    height: 51.65px;
    font-size: 29.25px;

  }

  .main-visual__campaign-term--2 {
    font-size: 54px;

  }
}

.main-visual__campaign-price {
  padding-right: 3px;
  margin-bottom: 13px;
  font-size: 76px;
  font-weight: 700;
  color: #fffd7a;
}

.main-visual__campaign-price--small {
  font-size: 36px;
}

@media (min-width: 768px) {
  .main-visual__campaign-price {
    padding-right: 3px;
    margin-bottom: 30px;
    font-size: 171px;
  }

  .main-visual__campaign-price--small {
    font-size: 81px;
  }
}

.main-visual__monthly-fee {
  padding-bottom: 17px;
  padding-left: 74px;
  font-size: 14px;
  text-align: right;
}

.main-visual__monthly-fee--small {
  font-size: 9px;
}


@media (min-width: 768px) {
  .main-visual__monthly-fee {
    padding-bottom: 43px;
    padding-left: 180px;
    font-size: 26.48px;
    text-align: right;
  }

  .main-visual__monthly-fee--small {
    font-size: 17.02px;
  }
}

.main-visual__benefit {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
  justify-content: center;
}

.main-visual__benefit-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 133px;
  height: 35px;
  padding-bottom: 2px;
  padding-left: 4px;
  margin-left: 2px;
  letter-spacing: 2px;
  background-color: rgb(102 102 102 / 0%);
  border-color: rgb(255 255 255);
  border-style: solid;
  border-width: 1px;
}

@media (min-width: 768px) {
  .main-visual__benefit {
    row-gap: 20px;
  }

  .main-visual__benefit-item {
    width: 425px;
    height: 69px;
    padding-bottom: 2px;
    padding-left: 4px;
    margin-left: 2px;
    font-size: 28px;
    letter-spacing: 0;
  }
}

/* プレゼント(gift)キャンペーン
------------------------------------------ */

.gift {
  padding-top: 21px;
  padding-bottom: 16px;
  margin-bottom: 17px;
  background-color: #fffedd;
}

@media (min-width: 768px) {
  .gift {
    padding-top: 46px;
    padding-bottom: 26px;
    margin-bottom: 58px;
  }
}

.gift-container {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  align-items: center;
  justify-content: center;
  margin: 0 18px;
}

@media (min-width: 768px) {
  .gift-container {
    row-gap: 17px;
    margin: 0 auto;
  }
}

.gift__popup {
  position: relative;
  padding: 0 1rem;
  font-size: 21px;
  color: #fa7da3;
}

.gift__popup::before,
.gift__popup::after {
  position: absolute;
  width: 2px;
  height: 27px;
  content: '';
  background-color: #fa7da3;
}

.gift__popup::before {
  left: 0;
  transform: rotate(-30deg);
}

.gift__popup::after {
  right: 0;
  transform: rotate(30deg);
}

@media (min-width: 768px) {
  .gift__popup {
    padding: 0 9px 0 24px;
    font-size: 34px;
  }

  .gift__popup::before,
  .gift__popup::after {
    width: 4px;
    height: 43px;
  }
}

.gift__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 350px;
  height: 93px;
  margin-top: 5px;
  background-color: #fff;
  border-color: #fa7da3;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .gift__title {
    max-width: 550px;
    height: 148px;
    margin-top: 3px;
  }
}

.gift__course-name {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 29px;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  background-color: #fa7da3;
  border-color: #fa7da3;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px 10px 0 0;
}

@media (min-width: 768px) {
  .gift__course-name {
    height: 45px;
    font-size: 32px;
  }
}

.gift__contents {
  width: 100%;
  padding-top: 2px;
  padding-left: 13px;
  font-size: 27px;
  font-weight: 400;
  color: #fa7da3;
  text-align: center;
}

.gift__contents--amount {
  font-size: 42px;
  font-weight: 600;
}


@media (min-width: 768px) {
  .gift__contents {
    padding-top: 3px;
    padding-left: 19px;
    font-size: 43.67px;
  }

  .gift__contents--amount {
    font-size: 67.93px;
  }

}

.gift__detail {
  font-size: 10px;
}

@media (min-width: 768px) {
  .gift__detail {
    font-size: 14px;
  }
}

/* 無料トライアル
------------------------------------------ */
.trial {}

.trial__container {
  margin: 0 18px;
}

.trial__title {
  padding-bottom: 11px;
  padding-left: 8px;
  font-size: 21px;
  font-weight: 600;
  color: #fa7da3;
  text-align: center;
  letter-spacing: 2.1px;
}


@media (min-width: 768px) {
  .trial__title {
    padding-bottom: 18px;
    padding-left: 8px;
    font-size: 34px;
    letter-spacing: 3px;
  }
}

.trial__contents-title {
  max-width: 350px;
  padding: 11px 0;
  margin: 30px auto 0;
  font-size: 17px;
  font-weight: 600;
  line-height: 1;
  color: #50bfff;
  text-align: center;
  letter-spacing: 2px;
  border-color: #50bfff;
  border-style: solid;
  border-width: 1px 0;
}


@media (min-width: 768px) {
  .trial__contents-title {
    max-width: 571px;
    padding: 17px 0;
    margin: 48px auto 0;
    font-size: 28px;
    border-width: 2px 0;
  }
}


.trial__contents-list {
  max-width: 350px;
  padding-top: 8px;
  padding-left: 2px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24/14);
}

.trial__contents-item--small {
  font-size: 11px;
}

@media (min-width: 768px) {
  .trial__contents-list {
    max-width: 571px;
    padding-top: 15px;
    padding-left: 0;
    font-size: 22.86px;
    line-height: calc(39.19/22.86);
    letter-spacing: -.3px;
  }

  .trial__contents-item--small {
    font-size: 17.96px;
  }
}

/* 選ばれる３つのポイント
------------------------------------------ */
.point {
  margin-top: 37px;
  background-color: #fdf0f5;
}

@media (min-width: 768px) {
  .point {
    margin-top: 53px;
  }
}

/* フッター
------------------------------------------ */