@charset "UTF-8";

/* ベースのスタイル
---------------------------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

img {
  /* 画面幅を変更した際に画像が伸縮する設定 */

  /* 画像の原寸サイズ以上の大きさにはならない */

  /* 原寸サイズ以上で表示したい場合は、width: 100%;にする。画像がぼやけるので注意 */
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;

  /* リスト先頭の記号を表示しないときに指定します */
}

/* 部品
------------------------------------- */

.contents-width {
  max-width: 1032px;
  padding: 0 16px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .contents-width {
    padding: 0 calc(16/390 *100vw);
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}


.noto-sans-jp-regular {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
}

.noto-sans-jp-semi-bold {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-optical-sizing: auto;
}

.noto-sans-jp-bold {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-optical-sizing: auto;
}

.outfit-regular {
  font-family: Outfit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
}

/* ヘッダー
------------------------------------------ */



/* セクション
------------------------------------------ */



/* フッター
------------------------------------------ */